<?php require "head.html"; ?>

<style>
	#blog {
		margin-top: 70px;
		padding-top: 10px;
	}
</style>
     <?php require "nav.html"; ?>
     <hr>
<!-- container -->
<div class="container">
	 <div class="row">
	 	<div class="col-md-8 col-md-offset-2">
	 		<div class="well" id="blog">
	 		<a href="blog">Back to Index</a><br><br>
	 			<h3 class="text-center">The Best Way To Curb Your Appetite, Brush Your Teeth.</h3>
	 			<h4 class="text-center">Brushing Your Teeth With Mint Toothpaste Will Curb Your Appetite.</h4>
	 			<img src="/images/toothpaste-1786388__340.jpg" alt="toothpaste" height="400" width="700"><br><br>
	 			<p class="reasons">I was hungry between meals today and researched the best way to curb my appetite.  When I clicked on Wikihow, I discovered that brushing my teeth with a mint toothpaste should curb my appetite.  And guess what, it did!  Now I have a ferocious appetite.  I'm pretty sure I could be a professional eater.  You know, one those people who could eat a thousand hot dogs in 10 minutes.  Well maybe not a thousand, but a lot of hot dogs.  Anyway, if you want to lose some weight, eat a reasonable portion of healthy food, then stop and go brush your teeth.  You might be surprised at what the mint flavored toothpaste can do for your appetite.</p>
	 		</div>
	<?php require "body.html"; ?>
	<?php require "footer.html"; ?>
	 	</div>
	 </div>
</div><!-- /container -->


<?php require "storage-key-appetite.html"; ?>
<?php require "vue.html"; ?>