<?php require "head.html"; ?>

<style>
	#blog {
		margin-top: 90px;
		padding-top: 10px;
	}
	img {
		width: 100%;
		height: auto;
	}
</style>
     <?php require "nav.html"; ?>
     
<!-- container -->
<div class="container">
	 <div class="row">
	 	<div class="col-md-8 col-md-offset-2">
	 		<div class="well" id="blog">
	 		<a href="blog">Back to Index</a><a href="lyrics">Next</a><br><br>
	 			<h3 class="text-center">The Best Ways To Curb Your Appetite (Brushing Your Teeth Is One Way)</h3>
	 			<h4 class="text-center">Brushing Your Teeth With Mint Toothpaste Will Curb Your Appetite.</h4>
	 			<center><img src="/images/toothpaste-1786388__340.jpg" class="img-fluid" alt="toothpaste"></center><br><br>
	 			<p class="reasons">I was hungry between meals today and researched the best way to curb my appetite.  When I clicked on Wikihow, I discovered that brushing my teeth with a mint toothpaste should curb my appetite.  And guess what, it did!  Now I have a ferocious appetite.  I'm pretty sure I could be a professional eater.  You know, one those people who could eat a thousand hot dogs in 10 minutes.  Well maybe not a thousand, but a lot of hot dogs.  Anyway, if you want to lose some weight, eat a reasonable portion of healthy food, then stop and go brush your teeth.  You might be surprised at what the mint flavored toothpaste can do for your appetite, and your breath!<br><br>

	 			Take a toothbrush and tube to work with you.  If you're going out to eat at a restaurant.  Or going to a Super Bowl party.  Take a miny tube and toothbrush with you.  After eating a sensible portion of food, excuse yourself to the restroom and have a quick brush.  Be sure to do it before dessert time...<br><br>

	 			If you must snack, choose a volumnous food, popcorn is perfect to help you feel full between or after meals.<br><br>

	 			A bonus tip, if you cannot get over your desire for a Big Mac and large fry.  Stop.  Take time to search "Nutrition in a Big Mac".  Then check out the fat grams in 1 Big Mac (33 fat grams) vs the RDA (44 to 77 grams).  This may help slow your urge.  See bonus tip #4.<br><br>

	 			Bonus tip #2.  Make sure you're getting enough magnesium in your diet.  You can read about magnesium <a href="/magnesium">CLICK HERE.</a><br><br>

	 			Bonus tip #3.  The color blue is proven to help curb your appetite.  A blue screen saver or blue paint is often a good idea.  There is a reason almost all fast food restaurants use the colors red, orange and yellow.  They make you hungry.<br><br>

	 			Bonus tip #4.  Get up, go outside for a brisk walk.  This releases endorphins which suppress the desire to eat.  It also helps take your mind off eating.  It's also just a good idea.  Instead of going for a second helping, go for a walk.<br><br>

	 			Remember, it all boils down to move more, eat less.  Check out my blog on <a href="/weight">how we really lose fat.</a></p><br>

	 			<p>Written by: West Brown of AccessTech.io</p>
	 		</div>
	<?php require "body.html"; ?>
	<?php require "footer.html"; ?>
	 	</div>
	 </div>
</div><!-- /container -->


<?php require "storage-key-appetite.html"; ?>
<?php require "vue.html"; ?>
<?php require "blogjs.html"; ?>