<?php require "head.html"; ?>

<style>
	#blog {
		margin-top: 70px;
		padding-top: 10px;
	}
</style>
     <?php require "nav.html"; ?>
     <hr>
<!-- container -->
<div class="container">
	 <div class="row">
	 	<div class="col-md-8 col-md-offset-2">
	 		<div class="well" id="blog">
	 		<a href="blog">Back to Index</a><br><br>
	 			<h3 class="text-center">The Best Song Lyrics I Can Think Of.</h3>
	 			<h4 class="text-center">Awesome Song Lyrics To Inspire.</h4>
	 			<img src="/images/patrick-pilz-146040.jpg" alt="music notes" height="400" width="700"><br><br>
	 			<ol>
	 				<li>'Cause you're the joke of the neighborhood Why should you care if you're feeling good (Supertramp - Song "Take the Long Way Home")</li>
	 				<li>But I have to have things my own way To keep me in my youth (Supertramp - Song "Goodbye Stranger")</li>
	 				<li>Now some they do and some they don't And some you just can't tell And some they will and some they won't With some it's just as well (Supertramp - Song "Goodbye Stranger")</li>
	 				<li>
					Take a look at my girlfriend
					She's the only one I got
					Not much of a girlfriend
					Never seem to get a lot

					Take a jumbo across the water
					Like to see America
					See the girls in California
					I'm hoping it's going to come true
					But there's not a lot I can do

					Could we have kippers for breakfast
					Mummy dear, Mummy dear
					They got to have 'em in Texas
					Cos everyone's a millionaire

					I'm a winner, I'm a sinner
					Do you want my autograph
					I'm a loser, what a joker
					I'm playing my jokes upon you
					While there's nothing better to do

					Don't you look at my girlfriend
					She's the only one I got
					Not much of a girlfriend
					Never seem to get a lot

					Take a jumbo cross the water
					Like to see America
					See the girls in California
					I'm hoping it's going to come true
					But there's not a lot I can do (Supertramp - Song "Breakfast in America")</li>
	 				<li>Little darling, it seems like years since it's been here 
					Here comes the sun, here comes the sun
					And I say, it's all right (The Beatles - Song "Here Comes The Sun")
					Sun, sun, sun, here it comes</li>
					<li>Here come old flat top
					He come grooving up slowly
					He got joo joo eyeball
					He one holy roller
					He got hair down to his knee
					Got to be a joker he just do what you please.

					He wear no shoe shine
					He got toe jam football
					He got monkey finger
					He shoot Coca-Cola
					He say I know you, you know me
					One thing I can tell you is you got to be free
					Come together right now over me

					He bag production
					He got walrus gumboot
					He got Ono sideboard
					He one spinal cracker
					He got feet... down below his knee
					Hold you in his armchair you can feel his disease
					Come together right now over me

					Right!

					He roller coaster
					He got early warning
					He got Muddy Water
					He one Mojo filter
					He say. "One and one and one is three"
					Got to be good looking 'cause he so hard to see
					Come together right now over me (The Beatles - Song "Come Together")</li>
					<li>I'd like to say "thank you" on behalf of the group And ourselves and I hope we passed the audition! (The Beatles - Song "Get Back")</li>
					<li>Jo Jo left his home in Tucson, Arizona For some California grass (The Beatles - Song "Get Back")</li>
					<li>Well she looked at me, and I, I could see That before too long I'd fall in love with her (The Beatles - Song "I Saw Her Standing There")</li>
					<li>I may not have a lot to give but what I got I'll give to you (The Beatles - Song "Can't Buy Me Love")</li>
					<li>Well I love you, baby, and you ought to know I like the way you wear your clothes (The Beatles - Song "Honey Don't")</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
	 			</ol>
	 			<p class="reasons"></p><br>
	 			<p>Written by: West Brown of AccessTech.io</p>
	 		</div>
	<?php require "body.html"; ?>
	<?php require "footer.html"; ?>
	 	</div>
	 </div>
</div><!-- /container -->


<?php require "storage-key-lyrics.html"; ?>
<?php require "vue.html"; ?>
<?php require "blogjs.html"; ?>