<?php require "head.html"; ?>

<style>
	#blog {
		margin-top: 70px;
		padding-top: 10px;
	}
</style>
     <?php require "nav.html"; ?>
     <hr>
<!-- container -->
<div class="container">
	 <div class="row">
	 	<div class="col-md-8 col-md-offset-2">
	 		<div class="well" id="blog">
	 		<a href="blog">Back to Index</a><br><br>
	 			<h3 class="text-center">How Do You Really Lose Fat?</h3>
	 			<h4 class="text-center">What Happens During Weight Loss?</h4><br>
	 			<img src="/images/7bjmdicvloe-roberto-nickson (1).jpg" alt="woman rowing in canoe" height="400" width="700"><br><br>
	 			<p class="reasons">When most people think of weight loss or fat loss. They think of burning calories and eating fewer calories.  However, you cannot turn atoms into energy or heat.  Nothing is burned.  It's called the Conservation of Mass.  But where do the fat atoms go?  We lose fat, by breathing.  Yes, fat is exhaled from our bodies.  When we exercise we breath faster and deeper.  This speeds up the fat loss process.  More fat is exhaled. Now, don't go around breathing faster and deeper to lose fat, this leads to hyperventalation, which is very dangerous!  The increase must be a result of body movement. 
				<br><br>
	 			The chemical formula for human fat is a combination of H2O and CO2.  Right, water and carbon dioxide.  The fat molecule has an average of C55 H104 O6.  It can vary in Carbon and Hydrogen atoms, but always has 6 oxygen atoms.  Basically, fat + oxygen -> carbon dioxide and water (known as respiration).
				<br><br>
	 			 C55 H104 O6(fat) + 78 O2(oxygen) ->(is converted to) 55 CO2(Carbon Dioxide) + 52 H2O(Water)  
				<br><br>
	 			 Then the carbon dioxide molecules and water vapor are exhaled.  Some of the water is most likely lost by perspiration also.  Remember, the best and most sensible way to loss weight is eat less and move more.
				<br><br>
	 			If you are interested in fat or weight loss, below is a must see Youtube video by Ruben Meerman on TEDx Talks, Published on Oct 10, 2013.  This is my information source.<br><br>
				Written By: West Brown of AccessTech.io</p><br>
	 			<center><iframe width="560" height="315" src="https://www.youtube.com/embed/vuIlsN32WaE?list=PLSG3aBEfKwxhiwDxbroBcehHx1DyNKSlX" frameborder="0" allowfullscreen></iframe></center>
	 			<br>

	 		</div>
	<?php require "body.html"; ?>
	<?php require "footer.html"; ?>
	 	</div>
	 </div>
</div><!-- /container -->


<?php require "storage-key-weight.html"; ?>
<?php require "vue.html"; ?>